%% behaviours should be compiled before other files
{erl_first_files, [
    "src/client/mock_app_description_behaviour.erl"
]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions]},
    {plt_extra_apps, [ctool, ranch]}
]}.

{deps, [
    {ctool, {git, "ssh://git@git.onedata.org:7999/vfs/ctool.git", {ref, "e9538ac2fc57"}}}
]}.

%% relx configuration
{relx, [
    {release, {appmock, "1"},
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            crypto,
            ssl,
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            %% deps included by default by reltool but not included by relx
            {base64url, load},
            {common_test, load},
            {debugger, load},
            {edoc, load},
            {enacl, load},
            {erts, load},
            {eunit, load},
            {inets, load},
            {jiffy, load},
            {macaroons, load},
            {mnesia, load},
            {observer, load},
            {os_mon, load},
            {runtime_tools, load},
            appmock
        ]},

    {vm_args, "rel/files/vm.args"},
    {include_src, false},
    {dev_mode, true},
    % NOTE: {dev_mode, true} expands implicitly to {include_erts, false},
    % so we need this line AFTER the dev mode to override this setting
    {include_erts, true},

    {overlay, [
        {mkdir, "log"},
        {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
        {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
        {copy, "rel/files/appmock", "bin/appmock"},
        {copy, "rel/files/appmock.cmd", "bin/appmock.cmd"},
        {copy, "rel/files/start_erl.cmd", "bin/start_erl.cmd"},
        {copy, "rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},
        {template, "rel/files/vm.args", "etc/vm.args"},
        {copy, "rel/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},

        % Some certificates for cowboy https listener
        {copy, "certs", "etc/certs"},
        % Copy the main hrl (needed for compiling)
        {copy, "include/appmock.hrl", "appmock.hrl"}
    ]},

    {extended_start_script, true}
]}.

%% Profiles configuration
{profiles, [
    {bamboo, [
        {relx, [{dev_mode, false}]},
        {post_hooks, [
            {release, "rm -rf _build/default/rel"},
            {release, "mv -f _build/bamboo/rel _build/default"},
            {release, "rm -rf _build/default/lib/appmock"},
            {release, "mv -f _build/bamboo/lib/appmock _build/default/lib"}
        ]}
    ]}
]}.
