[
    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% Set debug loglevel as default in appmock
    {ctool, [
        {current_loglevel, 0},
        {log_root, "./log"}
    ]},

    %% The line below is modified by starter script
    %% After the modification, the config looks as follows:
    %% [{app_description_file, FilePath}]
    {appmock, []}
].

